<!DOCTYPE html>
<html>
  <head>
    <title>ANJIE SCHEUREN</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,800,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>

      <body>
        <div class="container-fluid">
          <nav class="navbar navbar-full navbar-light bg-faded">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 links">
                  <a target="blank" href="https://www.linkedin.com/in/anjiescheuren"><i class="fa fa-linkedin fa-3x links"></i></a>
                  <a href="mailto:emailanjie@gmail.com?Subject=Hi%20there" target="_top"><i class="fa fa-envelope fa-3x links"></i></a>
                  <a target="blank" href="https://github.com/anjiescheuren"><i class="fa fa-github fa-3x links"></i></a>
                  <a target="blank" href="https://www.behance.net/anjiescheuren"><i class="fa fa-behance fa-3x links"></i></a>
                  <a target="blank" href="https://twitter.com/AnjieScheuren"><i class="fa fa-twitter fa-3x links"></i></a>
                  <a target="blank" href="https://www.instagram.com/anjiecodes/"><i class="fa fa-instagram fa-3x links"></i></a>
                  <a target ="blank" href="https://drive.google.com/file/d/0B2JlOuA74KMBYWNoVEhHY2RMRnM/view?usp=sharing"><i class="fa fa-file-pdf-o fa-3x links" title="Resume"></i></a>
                </div>
              </div>
            </div>
          </nav>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h1 class="name">ANJELICA<br>CAPOZZIELLO<br>SCHEUREN</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-4 col-sm-12 col-xs-12 webdiv">
              <h2 class="web">web developer + music lover + persistent learner</h2>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <hr>
              <h2 class="works" id="works">works in progress</h2>
            </div>
          </div>

          <div class="row" id="wip">
            <div class="col-md-2"></div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                        <div class="front">
                          <!-- front content -->
                          <a target="blank" href="http://tidybank.herokuapp.com"><img class="img" src="/images/tidybankback.png"></a>
                        </div>
                        <div class="back">
                          <!-- back content -->
                          <a target="blank" href="http://tidybank.herokuapp.com"><img class="img" src="/images/tidybankflower.png"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                        <div class="front">
                          <!-- front content -->
                          <a target="blank" href="http://www.onenightband.co"><img class="img" src="/images/earshotback.png"></a>
                        </div>
                        <div class="back">
                          <!-- back content -->
                          <a target="blank" href="http://www.onenightband.co"><img class="img" src="/images/onenightbandflower.png"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                        <div class="front">
                        <!-- front content -->
                          <a target="blank" href="http://www.earshotapp.co"><img class="img" src="/images/earshotback.png"></a>
                        </div>
                        <div class="back">
                          <!-- back content -->
                          <a target="blank" href="http://www.earshotapp.co"><img class="img" src="/images/earshot.png"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <hr>
              <h2 class="works">about me</h2>
              <p class="aboutme">As an architect and drafter, it was so rewarding to see buildings constructed from my drawings, but I wanted more - a bigger challenge. I took a weekend workshop at General Assembly and quit my job soon after.</p>
              <p class="love"> I was in love.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="heart" href="http://hotgoodwill.org/about-us/heart-of-texas-goodwill/">Heart of Texas Goodwill</a>
              <div class="goodwill"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="music">Live music and travel fill up my spare time. <br> My goal is to provide musicians and music fans with useful, beautiful mobile apps.</p>
              <div class="gif"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" id="empty">
              <div class="empty"></div>
            </div>
          </div>
          <!-- <div class="row" id="resume">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
              <a target ="blank" href="https://drive.google.com/file/d/0B2JlOuA74KMBSHhQdGlkNkZtOG8/view?usp=sharing"class="links" id="myBtn">Resume</a>
            </div>
            <div class="col-md-4 col-sm-4"></div>
          </div> -->
          <!-- <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a target="blank" href="https://www.linkedin.com/in/anjiescheuren"><i class="fa fa-linkedin fa-3x links"></i></a>
              <a href="mailto:emailanjie@gmail.com?Subject=Hi%20there" target="_top"><i class="fa fa-envelope fa-3x links"></i></a>
              <a target="blank" href="https://github.com/anjiescheuren"><i class="fa fa-github fa-3x links"></i></a>
              <a target="blank" href="https://www.behance.net/anjiescheuren"><i class="fa fa-behance fa-3x links"></i></a>
              <a target="blank" href="https://twitter.com/AnjieScheuren"><i class="fa fa-twitter fa-3x links"></i></a>
              <a target="blank" href="https://www.instagram.com/anjiecodes/"><i class="fa fa-instagram fa-3x links"></i></a>
            </div>
          </div>
 -->

        <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>

        </div>
      </body>
</html>


