<!DOCTYPE html>
<html>
  <head>
    <title>ANJIE SCHEUREN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,800,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>

      <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h1 class="name">ANJELICA<br>CAPOZZIELLO<br>SCHEUREN</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-4 col-sm-12 col-xs-12 web">
              <h2>web developer + architect + designer + persistent learner</h2>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <hr>
              <h2 class="works" id="works">works in progress</h2>
            </div>
          </div>

              <div class="row" id="wip">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                      <div class="front">
                        <!-- front content -->
                        <a target="blank" href="http://tidybank.herokuapp.com"><img src="/images/tidybankflower.png"></a>
                      </div>
                      <div class="back">
                        <!-- back content -->
                        <a target="blank" href="http://tidybank.herokuapp.com"><img src="/images/tidybankback.png"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                      <div class="front">
                        <!-- front content -->
                        <a target="blank" href="http://onenightband.herokuapp.com"><img src="/images/onenightbandflower.png"></a>
                      </div>
                      <div class="back">
                        <!-- back content -->
                        <a target="blank" href="http://onenightband.herokuapp.com"><img src="/images/onenightbandback.png"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                     <div class="front">
                      <!-- front content -->
                      <a target="blank" href="http://doughnut-shop.bitballoon.com"><img src="/images/doughnutflower.png"></a>
                    </div>
                    <div class="back">
                      <!-- back content -->
                      <a target="blank" href="http://doughnut-shop.bitballoon.com"><img src="/images/doughnutback.png"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Trigger/Open The Modal -->
          <div class="row" id="resume">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
              <a target ="blank" href="https://drive.google.com/file/d/0B2JlOuA74KMBSHhQdGlkNkZtOG8/view?usp=sharing"class="links" id="myBtn">Resume</a>
            </div>
            <div class="col-md-4 col-sm-4"></div>
          </div>
          <div class="row email">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="links email" href="mailto:emailanjie@gmail.com?Subject=Hi%20there" target="_top">emailanjie@gmail.com</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a target="blank" href="https://www.linkedin.com/in/anjiescheuren"><i class="fa fa-linkedin fa-2x links"></i></a>
              <a target="blank" href="https://twitter.com/AnjieScheuren"><i class="fa fa-twitter fa-2x links"></i></a>
              <a target="blank" href="https://github.com/anjiescheuren"><i class="fa fa-github fa-2x links"></i></a>
              <a target="blank" href="https://www.behance.net/anjiescheuren"><i class="fa fa-behance fa-2x links"></i></a>
            </div>
          </div>


        <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        </div>
      </body>
</html>


