<!DOCTYPE html>
<html>
  <head>
    <title>ANJIE SCHEUREN</title>
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,800,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div class="container">
    <div class="wrapper">
      <body>
        <div class="row name">
          <div class="col-md-12 col-sm-12">
          <h1><%= first %></h1>
          <h1><%= middle %></h1>
          <h1><%= last %></h1>
          </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-12"></div>
          <div class="col-md-4 col-sm-12">
            <h2 class="web">web developer + architect + designer + persistent learner</h2>
          </div>
          <div class="col-md-12 col-sm-12">
          <hr>
            <h2 class="works" id="works">works in progress</h2>
          </div>
          <div class="col-md-4 col-sm-12"></div>
        </div>
          <div class="row" id="wip">
            <div class="col-md-4 col-sm-12">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <a target="blank" href="http://tidybank.herokuapp.com"><img class="flower" src="/images/tidybankflower.png"></a>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <a target="blank" href="http://tidybank.herokuapp.com"><img class="flower" src="/images/tidybankback.png"></a>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4 col-sm-12">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <a target="blank" href="http://onenightband.herokuapp.com"><img class="flower" src="/images/onenightbandflower.png"></a>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <a target="blank" href="http://onenightband.herokuapp.com"><img class="flower" src="/images/onenightbandback.png"></a>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-4 col-sm-12">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <a target="blank" href="http://toefosho.bitballoon.com"><img class="flower" src="/images/tictacflower.png"></a>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <a target="blank" href="http://toefosho.bitballoon.com"><img class="flower" src="/images/tictacback.png"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Trigger/Open The Modal -->
        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4 resume">
            <a class="links" id="myBtn">Resume</a>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="modal-content">
                <p><img src="/images/resume.png"></p>
                <div class="row">
                <div class="col-md-4 col-sm-4"></div>
                  <div class="col-md-4 col-sm-4">
                    <div class="close">close</div>
                  </div>
                  <div class="col-md-4 col-sm-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <a target="blank" href="https://www.linkedin.com/in/anjiescheuren"><i class="fa fa-linkedin fa-2x links"></i></a>
            <a target="blank" href="https://github.com/anjiescheuren"><i class="fa fa-github fa-2x links"></i></a>
          </div>
        </div>

      <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
      </body>
    </div>
  </div>
</html>
