* {
  background-color: #70C1B3;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: white;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.app {
  height: 10em;
}

.name {
  font-family: 'Fredericka the Great';
  font-size: 8em;
  max-width: 100%;
}

img {
  height: 152px;
  width: 152px;
}

hr {
  border-color: #50514F;
  max-width: 50%;
}

.email {
  color: #FFE066;
  font-size: 1.25em;
  text-decoration: none;
}

a {
color: #FFE066;
padding-bottom: 15px;
}

a:link {
  color: #FFE066;
}

a:hover {
  text-decoration: none;
  color: #50514F;
}

.links {
  color: #FFE066;
  padding: .5em;
  padding-bottom: 15px;
}

#resume {
  font-size: 2em;
}

.links:hover {
  color: #50514F;
  text-decoration: none;
  cursor: pointer;
}

#wip {
  margin-bottom: 1.5em;
  width: 50%;
  margin: 0 auto;
}

.web {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  color: #50514F;
  width: 100%;
}

.works {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.5em;
  margin: 25px auto;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin: 0 auto;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 12em;
  height: 12em;
}

/* flip speed goes here */
.flipper {
  transition: .6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  height: 12em;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
