
body {
  font: 14px 'Merriweather', serif;
  text-align: center;
  background-color: #70C1B3;
  color: white;
  max-width: 100%;
}

.app {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 10em;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 6.25em;
  letter-spacing: .04em;
  color: white;
  margin: 0 auto;
  padding: .1em;
  width: 100%;
}

name {
  max-width: 100%;
  height: auto;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2em;
  color: white;
}

h4 {
  font-family: 'Crimson Text', serif;
  color: white;
  margin: 0 auto;
  font-size: 1.5em;
}

.description {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1.3em 0;
  margin: 0 auto;
  margin: 0 1em;
}

.flower {
  height: 12em;
  margin: 0 auto;
  margin-top: .5em;
}

.flowers {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 168px;
}

hr {
  border-color: #50514F;
  margin: 0 auto;
  text-align: center;
  width: 45em;
}

.email {
  color: #FFE066;
  font-size: 1.15em;
  margin-top: .5em;
  text-decoration: none;
}

a {
color: #FFE066;
}

a:link {
  color: #FFE066;
}

a:hover {
  text-decoration: none;
  color: #50514F;
}

.links {
  color: #FFE066;
  padding: .5em;
}

.resume {
  font-size: 2em;
  margin: 1em auto 0 auto;
}

.links:hover {
  color: #50514F;
  text-decoration: none;
  cursor: pointer;
}

#wip {
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 65%;
}

.web {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  color: #50514F;
  margin: 25px auto;
}

.works {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.5em;
  margin: 25px auto;
}

.graduate {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  color: #50514F;
  margin: .45em auto;
  margin-bottom: 0;
}

.profilepic {
  max-height: 18em;
  /*max-width: 20em;*/
  border-radius: 50%;
}



/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin: 0 auto;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 12em;
  height: 12em;
}

/* flip speed goes here */
.flipper {
  transition: .6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  height: 12em;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}


